.footer{
    margin-top: 45px;
    background-color: rgb(21, 3, 37);
    height: 200px;
    box-shadow: 3px -5px 6px rgb(154, 154, 155);
}
h2{
    color: white;
    padding-top: 30px;
}
.icons{
    color: white;
    font-size: 35px;
}
.copy-right{
    color: white;
}